body {
  background: rgb(240, 240, 240);
  font-family: "Proza Libre", sans-serif;
  letter-spacing: 0.05rem;
}

input {
  width: 100%;
  line-height: 1.5rem;
}

textarea {
  resize: none;
  width: 100%;
  height: 10em;
}

textarea:focus,
input:focus {
  outline: 3px solid rgb(86, 43, 129);
}

img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  white-space: pre-line;
}

a {
  text-decoration: none;
}

.font-200 {
  font-weight: 200;
}

.font-700 {
  font-weight: 700;
}

.purple-bg {
  background: rgb(86, 43, 129);
  color: white;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.tb-margin-1 {
  margin: 1rem 0;
}

.b-margin {
  margin-bottom: 1rem;
}

.no-top-margin {
  margin-top: 0;
}

.text-boxes {
  padding: 0.5rem;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}

.save-button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  margin: 1rem 0;
  cursor: pointer;
}

.align-center {
  align-items: center;
}

.gap-20 {
  column-gap: 20px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.edit-icon {
  right: 0;
  color: rgb(86, 43, 129);
  font-size: 1.5rem;
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.397);
  position: fixed;
}

.center {
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.space-between {
  justify-content: space-between;
}

.confirm-popup {
  background-color: rgb(255, 255, 255);
  height: 150px;
  width: 400px;
  padding: 1rem;
}

.red-bg {
  background-color: rgb(220, 38, 38);
}
